# last modified 11 December 2006 by J. Fox
# last modified 16 December 2009 by M. Friendly
# last modified  2 January 2010 by M. Friendly: export cross3d
# last modified 27 January 2010 by M. Friendly: export statList etc
# last modified 5 Aug 2010 by M. Friendly: export etasq, gsorth, termMeans
# last modified 4 Oct 2010 by M. Friendly: trans.colors
# last modified 14 Jan 2013 by M. Friendly: interpPlot, label.ellipse
# last modified 16 Jan 2013 by M. Friendly: coefplot
# now import(car) to avoid CRAN nag
# now importFrom(MASS)

#importFrom(car, car:::df.terms, car:::df.terms.default, car:::is.aliased)

import(car)
importFrom(MASS, psi.bisquare, cov.trob)

export(heplot, heplot3d, heplot1d, ellipse3d.axes, mark.H0, cross3d, statList, covList, colMeansList, arrow3d,
	etasq, gsorth, termMeans, trans.colors,
	robmlm, robmlm.default, robmlm.formula,
  	interpPlot, 
  	label.ellipse,
  	coefplot
  	)
S3method(heplot, mlm)
S3method(heplot3d, mlm)
S3method(pairs, mlm)
S3method(heplot1d, mlm)
S3method(etasq,lm)
S3method(etasq,mlm)
S3method(etasq,Anova.mlm)
S3method(vcov,mlm)
S3method(print,robmlm)
S3method(summary,robmlm)
S3method(coefplot,mlm)

